// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_page_container{
  padding: 0;
}
#carousel_item{
  display: block;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}
.carousel-caption h3{
  font-weight: bold;
}