// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_page_container{
  padding: 0;
}
#carousel_item{
  display: block;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}
.carousel-caption h3{
  font-weight: bold;
}
#brand_logo:hover{
  cursor: default;
  color: #777;
}
body{
  background-color: #dddddd;
}
#discount_notice{
  position: relative;
  bottom: 55px;
  right: 10px;
}
#user_email{
  font-weight: bold;
  cursor: default;
  color: #777;
}
#user_email:hover{
  font-weight: bold;
  cursor: default;
  color: #777;
}